input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
    margin: 0;
}

.div_calculadora {
	display: block;
    width: 100%;
	margin-bottom: 40px;
}

.titulo_calculadora {
	margin: 0 0 0 0;
	font-weight: 700;
}

.input_calculadora {
    /*display: block;*/
	width: 20%;
	margin-top: 0;
}

.label_sistemademedida {
    margin-left: 5px;
}

.mostrar_resultados {
	padding: 20px;
	text-align: center;
}

.imagenes_resultado {
	width: 150px;
	height: auto;
}

.titulo_resultado {
    display: block;
    font-size: 25px;
	font-weight: 700;
}

#boton_calculadora_rm {
	width: 20%;
	background: #2791c5;
    padding: 10px;
    border: none;
	font-size: 20px;
	font-weight: 700;
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 1000px) {
	.div_resultados {
        display: block;
	}

	.input_calculadora {
		width: 80%;
	}

	#boton_calculadora_rm {
		min-width: 100%;
	}
}